$breakpoint-small-tablets: 767px;

body {
    min-height: 100vh;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.main {
    margin-bottom: 100px;

    .heading {
        font-weight: 600;
        font-size: 36px;
        margin-left: 22px;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .text {
        margin-left: 32px;
    }

    .sub-heading {
        font-weight: 600;
        font-size: 28px;
        margin-left: 22px;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .list {
        list-style: none;
    }
}

.footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: $breakpoint-small-tablets) {
    .footer {
        position: relative;
        margin-top: 32px;
    }
}