$main-color: #FFFFFF;
$main-font-color:#030303;
$secondary-font-color:#FFFFFF;
$secondary-color:#4895DD;


body {
    height: 100%;
    background-size: 100%;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .back__button {
        display: flex;

        text-decoration: none;
        
        position: absolute;

        left: 38px;
        top: 146px;

        .back__icon {
            width: 42px;
            height: 42px;
        }

        .back__link {
            text-align: center;
            margin-top: 6px;
            margin-left: 6px;

            font-size: 28px;

            color: $main-font-color;
        }
    }

    .cart__items {
        margin-top: 66px;

        .card {
            display: flex;

            background-color: $main-color;
            border-radius: 18px;
            margin-bottom: 30px;

            width: 583px;
            height: 182px;

            .card__image {
                max-width: 144px;
                padding-left: 22px;
                padding-top: 11px;
                padding-bottom: 11px;

            }

            .card__info {
                margin-left: 32px;
                .jacket__name {
                    margin-top: 11px;
                    font-size: 28px;
                    width: 219px;
                }
                
                .size__container {
                    display: flex;
                    margin-top: 44px;

                    font-size: 18px;

                    .sizes {
                        display: flex;

                        .size__item {
                            width: 39px;
                            height: 24px;

                            margin-left: 6px;

                            background-color: $secondary-color;

                            text-align: center;

                            border-radius: 10px;
                            color: $main-color;
                        }
                        .size__item:hover {
                            cursor: pointer;
                            color: $main-font-color;
                        }
                    }
                }
                .price__block { 
                    margin-top: 20px;
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            .quantity__container {
                .delete__item {
                    width: 54px;
                    height: 54px;

                    margin-top: 11px;
                    margin-left: 98px;
                    margin-right: 14px;

                    border-width: 0;
                    border-radius: 10px;

                    background-color: $secondary-color;
                    background-image: url(../img/icons/trash.png);
                    background-size: 40px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .delete__item:hover {
                    background-color: #326BA0;
                    cursor: pointer;
                }

                .quantity__box {
                display: flex;

                justify-content: space-around;

                margin-top: 30px;
                margin-right: 14px;

                font-size: 18px;

                .quantity__input{
                    width: 40px;
                    height: 24px;

                    text-align: center;

                    background-color: $secondary-color;

                    border-radius: 10px;
                    border-width: 0;

                    color: $secondary-font-color;
                    font-size: 18px;
                }

                .quantity__input::-webkit-outer-spin-button,
                .quantity__input::-webkit-inner-spin-button, {
                -webkit-appearance: none;
                -moz-appearance: textfield;
                margin: 0;
                }

                
            }

            .shop__button {
                display: flex;

                align-items: center;
                justify-content: center;

                width: 111px;
                height: 27px;

                position: relative;

                top: 20px;
                left: 32px;

                text-decoration: none;
                color: $secondary-font-color;
                
                background-color: $secondary-color;
                border-radius: 10px;
            }



        }
    }
}

    .cart__info {
        margin-top: 50px;

        .info__total {
        font-size: 48px;
        font-weight: 600;
        }

        .info__h3 {
            font-size: 24px;
            font-weight: 500;
        }

        .info__text {
            margin-left: 20px;
            font-size: 20px;
        }

        .info__list {
            margin-bottom: 16px;
        }

        .info__text:last-child {
            margin-bottom: 30px;
        }

        .buttons {
            .cart__btn {
                margin-top: 30px;
                text-decoration: none;
                color: $secondary-font-color;
                font-size: 40px;
                border-radius: 14px;
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 12px;
                padding-bottom: 12px;
                font-weight: 500;

                background-color: $secondary-color;
            }

            .checkout__button {
                margin-left: 42px;
            }
        }
    }
}

.footer {
    position: relative;
    bottom: 0;
}