$main-color: #FFFFFF;
$main-font-color:#030303;
$secondary-font-color:#FFFFFF;
$secondary-color:#4895DD;

body {
    height: 100vh;
    background-size: 100%;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
}

.main {
    display: flex;
    justify-content: center;
    
    .back__button {
        display: flex;

        text-decoration: none;
        
        position: absolute;

        left: 38px;
        top: 146px;

        .back__icon {
            width: 42px;
            height: 42px;
        }

        .back__link {
            text-align: center;
            margin-top: 6px;
            margin-left: 6px;

            font-size: 28px;

            color: $main-font-color;
        }
    }

    .container1 {

        .heading{
            margin-top: 88px;
            margin-left: 64px;

            font-weight: 500;
        }

        .cont__holder {
            display: flex;

            margin-top: 32px;
            margin-left: 64px;
                .billing__cont1 {
                    margin-right: 32px;
                    .cont__item {
    
                    }
                }
    
                .billing__cont2 {
                    .cont__item {
                    
                    }
                }
        }
    }


    .container2 {
        .heading{
            margin-top: 88px;
            margin-left: 338px;
            margin-bottom: 32px;

            font-weight: 500;
        }

        .cont__item {
            margin-left: 338px;
        }

        .card__cont {
            display: flex;
            margin-left: 338px;
            .card__item {
                display: flex;

                align-items: center;
        
                padding-left: 20px;
                margin-right: 32px;
        
                width: 66px;
                height: 66px;
        
                color: #616161;
        
                background-color: $main-color;
                font-size: 24px;
                border-radius: 10px;
                border-width: 0;
            }

            .card__item:focus {
                outline: none;
            }
        }


        .pay__btn {
            display: flex;

            align-items: center;
            justify-content: center;

            margin-left: 338px;
            margin-top: 32px;

            width: 260px;
            height: 68px;

            background-color: $secondary-color;

            border-radius: 14px;
            border-width: 0;

            color: $secondary-font-color;
            text-decoration: none;
            font-size: 32px;
        }
        .pay__btn:hover {
            background-color: #2062a0;
        }
    }

    .cont__item {
        display: flex;

        align-items: center;

        padding-left: 20px;

        width: 260px;
        height: 66px;

        margin-bottom: 32px;

        color: #616161;

        background-color: $main-color;
        font-size: 24px;
        border-radius: 10px;
        border-width: 0;
    }

    .cont__item:focus {
        outline: none;
    }
}