body {
  height: 100%;
  background-size: 100%;
  background: rgb(97, 141, 182);
  background: linear-gradient(0deg, rgb(97, 141, 182) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: center;
}
.main .back__button {
  display: flex;
  text-decoration: none;
  position: absolute;
  left: 38px;
  top: 146px;
}
.main .back__button .back__icon {
  width: 42px;
  height: 42px;
}
.main .back__button .back__link {
  text-align: center;
  margin-top: 6px;
  margin-left: 6px;
  font-size: 28px;
  color: #030303;
}
.main .payment__form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
.main .heading {
  margin-top: 68px;
  font-weight: 500;
}
.main .placeholder {
  max-width: 320px;
  max-height: 46px;
  padding-left: 16px;
  font-size: 16px;
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 10px;
}
.main .placeholder:focus {
  outline: none;
}
.main .placeholder__small {
  max-width: 150px;
  max-height: 46px;
  padding-left: 16px;
  font-size: 16px;
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 10px;
}
.main .placeholder__small:focus {
  outline: none;
}
.main .pay__button {
  text-align: center;
  align-content: center;
  margin-left: 40px;
  max-width: 260px;
  max-height: 68px;
  background-color: #4895DD;
  border-radius: 14px;
  border-width: 0;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 32px;
}

.footer {
  position: fixed;
  bottom: 0;
}

.item1 {
  grid-column: span 4/span 4;
}

.item2 {
  grid-column: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.item3 {
  grid-column: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.item4 {
  grid-column: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}

.item5 {
  grid-column: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}

.item6 {
  grid-column: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

.item7 {
  grid-column: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

.item8 {
  grid-column: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 5;
}

.item9 {
  grid-column: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 5;
}

.item10 {
  grid-column: span 2/span 2;
  grid-column-start: 6;
  grid-row-start: 1;
}

.item11 {
  grid-column: span 2/span 2;
  grid-column-start: 6;
  grid-row-start: 2;
}

.item12 {
  grid-column: span 2/span 2;
  grid-column-start: 6;
  grid-row-start: 3;
}

.item13 {
  grid-column-start: 6;
  grid-row-start: 4;
}

.item14 {
  grid-column-start: 7;
  grid-row-start: 4;
}

.item15 {
  grid-column: span 2/span 2;
  grid-column-start: 6;
  grid-row-start: 5;
}

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main .heading {
    margin-top: 80px;
    font-size: 26px;
  }
  .main .payment__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main .pay__button {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=checkout.css.map */