$main-color: #FFFFFF;
$main-font-color:#030303;
$secondary-font-color:#FFFFFF;
$secondary-color:#5C8A4C;
$button-background-hover: #3D7DB8;

$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 655px;

body {
    min-height: 100vh;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    
    .back__button {
        display: flex;

        text-decoration: none;
        
        position: absolute;

        left: 38px;
        top: 146px;

        .back__icon {
            width: 42px;
            height: 42px;
        }

        .back__link {
            text-align: center;
            margin-top: 6px;
            margin-left: 6px;

            font-size: 28px;

            color: $main-font-color;
        }
    }

    .payment__form {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;  
    }

    .heading {
        margin-top: 68px;

        font-weight: 500;
    }

    .placeholder {
        max-width: 320px;
        max-height: 46px;

        padding-left: 16px;

        font-size: 16px;

        background-color: $main-color;

        border-width: 0;
        border-radius: 10px;

    }

    .placeholder:focus {
        outline: none;
    }

    .placeholder__small {
        max-width: 150px;
        max-height: 46px;

        padding-left: 16px;

        font-size: 16px;

        background-color: $main-color;

        border-width: 0;
        border-radius: 10px;
    }

    .placeholder__small:focus {
        outline: none;
    }

    .pay__button {
        text-align: center;
        align-content: center;

        margin-left: 40px;

        max-width: 260px;
        max-height: 68px;

        background-color: $secondary-color;

        border-radius: 14px;
        border-width: 0;

        color: $secondary-font-color;
        text-decoration: none;
        font-size: 32px;
    }
    .pay__button:hover {
        background-color: $button-background-hover;
    }
}

.footer {
    position: fixed;
    bottom: 0px;
}

// Grid system
.item1 {
    grid-column: span 4 / span 4;
}

.item2 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.item3 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.item4 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.item5 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.item6 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.item7 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}

.item8 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.item9 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.item10 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 1;
}

.item11 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 2;
}

.item12 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 3;
}

.item13 {
    grid-column-start: 6;
    grid-row-start: 4;
}

.item14 {
    grid-column-start: 7;
    grid-row-start: 4;
}

.item15 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
}    

@media (max-width: $breakpoint-laptops) {
    .footer {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;

        .heading {
            margin-top: 80px;
            font-size: 26px;
        }

        .payment__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .pay__button {
            margin-bottom: 30px;
        }
    }
}