$main-button-color: #5C8A4C;
$hover-button-color: #16251A;
$main-text-color: #16251A;
$second-text-color: #FFFFFF;

$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 480px;

body {
    background-image: url(../img/homeBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;

    margin-top: 190px;

    height: 80vh;

    .heading {
        display: flex;
        justify-content: space-around;
        font-size: 64px;
        color: $main-text-color;
    }

    .sub-heading{
        display: flex;
        justify-content: space-around;
        font-size: 48px;
        color: $main-text-color;
    }

    .button__container {
        display: flex;
        justify-content: center;

        .shop__button {
            display: flex;
    
            align-items: center;
            justify-content: center;
    
            width: 280px;
            height: 68px;
    
            background-color: $main-button-color;
            border-radius: 14px;
            color: $second-text-color;
            opacity: 70%;
            text-decoration: none;
            
            font-size: 36px;
            font-weight: bold;
        }
        .shop__button:hover {
            background-color: $hover-button-color;
            transition: 0.5s;
            animation: ease-in-out;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: $breakpoint-laptops) {
    .main {
        .heading {
            font-size: 56px;
        }

        .sub-heading {
            font-size: 42px;
        }

        .button__container {
            .shop__button {
                width: 240px;
                height: 60px;
                font-size: 32px;
            }
        }
    }
}

@media (max-width: $breakpoint-big-tablets) {
    .main {
        .heading {
            font-size: 48px;
        }

        .sub-heading {
            font-size: 36px;
        }

        .button__container {
            .shop__button {
                width: 220px;
                height: 54px;
                font-size: 28px;
            }
        }
    }
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        .heading {
            font-size: 40px;
        }

        .sub-heading {
            font-size: 32px;
        }

        .button__container {
            .shop__button {
                width: 200px;
                height: 48px;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: $breakpoint-phones) {
    .main {
        .heading {
            font-size: 32px;
        }

        .sub-heading {
            font-size: 28px;
        }

        .button__container {
            .shop__button {
                width: 180px;
                height: 42px;
                font-size: 20px;
            }
        }
    }
}
