$main-button-color: #5C8A4C;
$hover-button-color: #04581b;
$main-text-color: #16251A;
$second-text-color: #FFFFFF;

$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 655px;

body {
    background-image: url(../img/homeBackground.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 80px;

    .heading {
        color: $main-text-color;
        font-size: 48px;
    }

    .sub-heading {
        color: $main-text-color;
        font-size: 38px;
    }

    .shop__button {
        display: flex;
        
        justify-content: center;
        align-items: center;

        width: 260px;
        height: 66px;

        margin-top: 50px;

        color: $second-text-color;
        text-decoration: none;
        font-size: 32px;
        font-weight: 500;

        background-color: $main-button-color;
        opacity: 70%;
        border-radius: 14px;
    }

    .shop__button:hover {
        background-color: $hover-button-color;
    }
}

    .footer {
        position: fixed;
        bottom: 0;

        margin-top: 60px;
    }

    @media (max-width: $breakpoint-laptops) {
        .main {
            .heading {
                font-size: 38px;
            }
        
            .sub-heading {
                font-size: 28px;
            }
        
            .shop__button {
                width: 200px;
                height: 64px;
        
                margin-top: 30px;

                font-size: 28px;
        
            }
        }
    }
    
    @media (max-width: $breakpoint-big-tablets) {
        .main {
            .heading {
                font-size: 32px;
            }
        
            .sub-heading {
                font-size: 22px;
            }
        
            .shop__button {
                width: 180px;
                height: 54px;
        
                margin-top: 20px;

                font-size: 22px;
        
            }
        }
    }
    
    @media (max-width: $breakpoint-small-tablets) {
        .main {
            margin-top: 60px;
            .heading {
                font-size: 32px;
            }
        
            .sub-heading {
                font-size: 22px;
            }
        
            .shop__button {
                width: 180px;
                height: 54px;
        
                margin-top: 20px;

                font-size: 22px;
        
            }
        }
    }
    
    @media (max-width: $breakpoint-phones) {
        .main {
            margin-top: 40px;
            .heading {
                font-size: 26px;
            }
        
            .sub-heading {
                font-size: 20px;
            }

            .shop__button {
                margin-top: 20px;
                margin-buttom: 50px;
            }
        }

        .footer {
            position: relative;
        }
    }