$main-color: #FFFFFF;
$main-font-color:#030303;
$secondary-font-color:#FFFFFF;
$secondary-color:#4895DD;

$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 655px;

body {
    min-height: 100vh;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;

    .back__button {
        display: flex;

        text-decoration: none;
        
        position: absolute;

        left: 38px;
        top: 146px;

        .back__icon {
            width: 42px;
            height: 42px;
        }

        .back__link {
            text-align: center;
            margin-top: 6px;
            margin-left: 6px;

            font-size: 28px;

            color: $main-font-color;
        }
    }

    .image__container {
        margin-top: 80px;
        
        .main__image__container {
            display: flex;

            justify-content: center;
            align-items: center;

            width: 380px;
            height: 380px;

            background-color: $main-color;
            border-radius: 22px;
            .main__image {
                width: 280px;
            }
        }

        .second__image__container {
            display: flex;
            margin-top: 20px;

            .second__container {
                display: flex;

                justify-content: center;
                align-items: center;

                margin-right: 16px;

                width: 60px;
                height: 60px;
                background-color: $main-color;
                border-radius: 12px;

                img {
                    height: 50px;
                }
            }
            .second__container:hover {
                cursor: pointer;

                margin-right: 16px;

                width: 80px;
                height: 80px;

                transition: 0.2s ease-out;

                background-color: #B2D3FF;
            }
        }
    }

    .info__container {
        margin-top: 70px;
        margin-left: 60px;

        .name__rate {
            display: flex;
            .heading {
                font-weight: 500;
                font-size: 48px;
            }

            .stars {
                display: flex;
                align-items: center;

                .star {
                    width: 34px;
                    height: 34px;

                    margin-left: 18px;

                    background-image: url(../img/icons/StarActive.png);
                    background-repeat: no-repeat;
                }

                .star:last-child {
                    background-image: url(../img/icons/StarInactive.png);
                }
            }
        }

        .description__container {
            font-size: 20px;
            max-width: 600px;

            .description__list {
                margin-top: 10px;
                margin-bottom: 10px;
                .list__item {
                    margin-left: 20px;
                }
            }
        }

        .sizes__container {
            display: flex;
            text-align: center;

            .size__box {
                font-size: 32px;

                color: $secondary-font-color;

                width: 54px;
                height: 54px;

                background-color: #A09F9F;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 10px;
            }

            .size__box:first-child {
                margin-left: 0;
            }
            .size__box:hover {
                background-color: $secondary-color;
                cursor: pointer;
            }
        }

        .add__to__cart__btn {

            margin-left: 337px;
            margin-bottom: 50px;
            // margin-bottom: 20%;

            width: 226px;
            height: 68px;

            font-size: 32px;
            color: $secondary-font-color;

            border-radius: 14px;
            border-width: 0;

            background-color: $secondary-color;

            cursor: pointer;
        }
        .add__to__cart__btn:hover {
            background-color: #276096;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: $breakpoint-laptops) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image__container {
            display: flex;
            flex-direction: column;
        }

        .info__container {
            display: flex;
            flex-direction: column;
            .add__to__cart__btn {
                
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: $breakpoint-phones) {
    .main {
        .image__container {
            margin-top: 80px;
            
            .main__image__container {
                width: 300px;
                height: 300px;

                .main__image {
                    width: 220px;
                }
            }
        }
    
        .info__container {
            .name__rate {
                .heading {
                    font-weight: 500;
                    font-size: 38px;
                }

                .stars {
                    display: flex;
                    .star {
                        width: 24px;
                        height: 24px;

                        background-image: url(../img/icons/StarActive.png);
                        background-repeat: no-repeat;
                        background-size: 22px;
                    }
                }
            }
    
            .description__container {
                font-size: 17px;
                max-width: 500px;
    
                .description__list {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
    
            .sizes__container {
                display: flex;
                text-align: center;
    
                .size__box {
                    font-size: 32px;
    
                    color: $secondary-font-color;
    
                    width: 54px;
                    height: 54px;
    
                    background-color: #A09F9F;
                    border-radius: 10px;
                    margin-top: 20px;
                    margin-left: 10px;
                }
    
                .size__box:first-child {
                    margin-left: 0;
                }
                .size__box:hover {
                    background-color: $secondary-color;
                    cursor: pointer;
                }
            }
        }
    }

    .footer {
        position: relative;
        bottom: 0;
    }
}