$main-color: #FFFFFF;
$main-font-color:#030303;
$secondary-font-color:#FFFFFF;
$secondary-color:#0C59A1;
$button-background-hover: #3D7DB8;

$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 655px;

body {
    min-height: 100vh;
    background: rgb(97,141,182);
    background: linear-gradient(0deg, rgba(97,141,182,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.main {
    margin-bottom: 30px;
    
    .back__button {
        display: flex;

        text-decoration: none;
        
        position: absolute;

        left: 38px;
        top: 146px;

        .back__icon {
            width: 42px;
            height: 42px;
        }

        .back__link {
            text-align: center;
            margin-top: 6px;
            margin-left: 6px;

            font-size: 28px;

            color: $main-font-color;
        }
    }

    .heading {
    margin-top: 80px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    }

        .textinfo {
            display: flex;

            justify-content: space-around;
            text-align: center;

            margin-top: 62px;
            
            .text {
                font-size: 24px;
                width: 300px;
                
                .blue__text {
                    color: $secondary-color;
                }
            }
    
            .complete__img {
                max-width: 300px;
            }
        }

        .products__btn {
            display: flex;
    
            text-align: center;
    
            align-items: center;
            justify-content: center;

            margin: 0 auto;
    
            margin-top: 32px;
            margin-bottom: 80px;
    
            width: 260px;
            height: 68px;
    
            background-color: #5C8A4C;
    
            border-radius: 14px;
            border-width: 0;
    
            color: $secondary-font-color;
            text-decoration: none;
            font-size: 32px;

        }
    
        .products__btn:hover {
            background-color: $button-background-hover;
        }
}

.footer {
    position: fixed;
    bottom: -2px;
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        display: flex;
        flex-direction: column;

        .textinfo {
            display: flex;
            flex-direction: column;

            align-items: center;
            text-align: center;
        }

        .products__btn {
            margin-bottom: 160px;
        }
    }

    .footer {
        position: relative;
    }
}