$main-color: #618DB6;
$main-font-color:#FFFFFF;

.footer {
    display: flex;

    align-items: center;
    justify-content: space-around;

    gap: 20px;

    flex-wrap: wrap;

    min-height: 48px;
    width: 100vw;

    background-color: $main-color;

    .footer__list__link {
        text-decoration: none;
        color: $main-font-color;

        font-weight: 400;
        font-size: 18px;
    }

    .social-media__container {
        display: flex;

        gap: 8px;
    }
}