$main-color: #618DB6;
$main-font-color:#FFFFFF;

.footer {
    display: flex;
    justify-content: center;

    margin-top: 60px;

    width: 100vw;
    min-height: 48px;

    background-color: $main-color;

    .footer__list {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;


        .footer__list__punct{
            list-style: none;

            .footer__list__link {
                color: $main-font-color;
                text-decoration: none;
                font-size: 20px;

                .footer__icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .footer__list__punct:nth-child(-n+5) {
        margin-right: 80px;
    }

    .footer__list__punct:nth-last-child(-n+3) {
        margin-right: 16px;
    }
}